<ion-header>
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button fill="outline" (click)="searchbar=!searchbar">
      <ion-icon name="funnel-outline"></ion-icon>
      Filter
    </ion-button>
  </ion-buttons>
  <ion-title>Tasks</ion-title>
  <ion-buttons slot="primary" [routerLink]="'add'">
    <ion-button color="success" fill="outline">
      <ion-icon name="add-circle-outline"></ion-icon>
      add
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar *ngIf="searchbar"> 
<ion-item>
  <ion-label>Project</ion-label>
  <ion-select  [(ngModel)]="searchText"  interface="popover">
    <ion-select-option value="">All</ion-select-option>
    <ion-select-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</ion-select-option>
  </ion-select>
</ion-item>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
  <ion-item-sliding *ngFor="let task of tasks | searchfilter:searchText">
    <ion-item detail>
      <ion-label>
        <h2> {{task.name}}</h2>
        <p>{{task.description}}</p>
        <ion-button disabled size="small" color="light"> {{task.project.name}}</ion-button>
      </ion-label>
      <ion-note slot="end" fill="outline" color="danger" > 
        {{task.project.name}}
      </ion-note>
    </ion-item>



    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="removeTask(task.id)">
        <ion-icon slot="icon-only" name="trash" color="light"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>


  
</ion-content>
