<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm">
    <ion-item-group >

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input  formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input  formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Project</ion-label>
        <ion-select formControlName="project"  >
          <ion-select-option *ngFor="let item of projects" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button (click)="submit()" [disabled]="!taskForm.valid || loading" expand="block">
        <ion-icon *ngIf="!loading" name="save-outline" color="light"></ion-icon>
        <ion-text *ngIf="!loading" color="light">&nbsp; Add</ion-text>
    
        <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
      </ion-button>
    
      </ion-item-group>
  </form>

</ion-content>
